/* html and body reset */
#root {
  --primary-color: #0c1827;
  --ui-color: #f8f6f3;
  --secondary-color: #a5bac9;
  --tertiary-color: #f6a800;
  --quaternary-color: #154571;
  --quinary-color: #cacaca;
}
